<!DOCTYPE html>
{% extends "default.html" %}
{% block content %}
<div class="row">
{% for event in news  %}

    <div class="col-sm">
     <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ event.desc }}</h6>
        <p class="card-text">{{ event.text }}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
    </div>

{% endfor %}
    </div>
{% endblock %}

